[package]
name = "qrrs"
version = "0.1.7"
authors = ["Lenivaya <xocada@gmail.com>"]
description = "CLI QR code generator and reader"
homepage = "https://github.com/Lenivaya/qrrs"
repository = "https://github.com/Lenivaya/qrrs"
readme = "README.md"
keywords = ["cli", "qrcode", "qr", "decoder", "parser"]
categories = ["command-line-utilities", "encoding", "parsing"]
license = "MIT"
edition = "2018"

[dependencies]
qrcode = "0.12.0"
rqrr = "0.4.0"
image = "0.23"
clap = "3.0.0-beta.4"

[dev-dependencies]
rand = "0.8.4"
predicates = "2"
assert_cmd = "2"
